body, html {
    width: 100%;
    height: 100%;
    font-family: 'VT323', monospace;
}

body{
    background-image: url("../images/background_buster_sword.jpg");
    /* background-color: aqua; */
    
}

body {
  
    color: white;
}

#main-header {
    background-color:#27293f;
}

#main-game {
    background-color: #02007e;
    opacity: 0.6;
}

#how-to-play {
    
}