body, html {
    width: 100%;
    height: 100%;
    font-family: 'VT323', monospace;
}

body{
    background-image: url("../images/background_buster_sword.jpg");
    background-size: 100% auto;
    /* background-color: aqua; */
    
}

body {
  
    color: white;
}

img {
    height: 150px;
    width: 150px;

}

#main-characters {
    padding-left: 10px;
    padding-right: 10px;
    border-color: aqua;
    border: 15px;
    
}
#remaining-characters {
    /* display:none; */
    background: green;

}

#main-header {
    background-color:#27293f;
}

#main-game {
    background-color: #02007e;
    opacity: 0.6;
}

#how-to-play {
    
}